@tailwind base;
@tailwind components;
@tailwind utilities;

////////* This helps so the image appears or disappears depending on screen size from the left side the image is the blue thing that pops from the right side of the screen *//////////////////////
@media screen(lg) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-softBlue;
  }
}


////////* This helps so the image appears or disappears depending on screen size from the right side the image is the blue thing that pops from the left side of the screen *//////////////////////
.bg-tabs {
  width: 2000px;
  height: 300px;
  right: 60%;
  @apply absolute rounded-r-full top-60 bg-softBlue;
}


.ficon:hover {
  filter: invert(20%) sepia(48%) saturate(2000%) hue-rotate(23deg) 
    brightness(65%) contrast(101%);
}

//////////////* HAMBURGER MENU //////////////////////

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}

